.DS_Store
.env
.env.testing
codeception.yml
composer.lock
log
log.txt
package-lock.json
phpstan.neon
node_modules
resources/frontend/css/
tests/_output
tests/_wordpress
tests/Support/_generated
tests/Support/Data/convertkit-export.json
vendor
*.zip